* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-weight: normal;
    border: none;
    box-sizing: border-box;
  }
  ol,
  li,
  ul {
    list-style: none;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  input{
      outline: none;
  }

  /* 购物车页面 */
  /* .shoppingCart{
      padding: 200px 200px;
  } */

/* 顶部logo */
.shoppingCart-top-logo{
    width:98%;
    height: 100px;
    background-color: #000000;
    text-align: center;
}
.shoppingCart-top-logo img{
    width: 200px;
    padding: 32px 0;
}
/* 购物付款导航 */
.shoppingCart-top-nav ul{
    font-size: 0;
    margin-top: 15px;
    margin-bottom: 90px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.shoppingCart-top-nav ul li{
    display: inline-block;
    font-size: 16px;
    position: relative;
    width: 33.333%;
    line-height: 38px;
}
.shoppingCart-content{
    padding: 0 130px;
}
.shoppingCart-content h3{
    font-size: 28px;
    font-weight: 500;
    line-height: 48px;
    border-bottom: 3px solid #000000;
}
/* title */
.shoppingCart-content-title{
    /* height: 50px;
    line-height: 50px; */
    margin: 17px 130px;
    font-size: 14px;
    background-color: #eee;
    margin-top: 22px;
    display: flex;
    
}

/* table购物车页面 */
.shopcar-list{
    width: 100%;
    text-align: center;
    padding: 15px;
}
.shopcar-list tbody tr td{
    height: 50px;
}
.shopcar-list tbody tr td img{
    width: 50px;
}
.shopcar-list thead tr{
    height: 100px;
    font-size: 18px;
    font-weight: bold;
}
.shopcar-list thead tr td:nth-child(1) {
    width: 200px;
}

.del-shop{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
}
/* 立即结算 */
.settlement{
    margin: 0 200px;
    /* border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8; */
    padding: 30px 0 60px 20px;
    float: right;
}
.settlement-main{
    width: 356px;
    font-size: 18px;
}
.settlement-main p{
    margin-bottom: 60px;
}
.settlement-main p span{
    display: inline-block;
    float: right;
}

.settlement-main-r-b{
    width: 356px;
    display: flex;
    justify-content: space-between;
}
.continue{
    display: block;
    width: 160px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-right: 20px;
    background: #fff;
    border: 1px solid #000;
}
.right-now{
    display: block;
    color: #fff;
    background: #000;
    width: 160px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

